<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
    <form action="/traceroute/" method="post">

<!--
 This options is managing easylink
-->


<select name="source" size=1>
<OPTION VALUE="" SELECTED> Options for east link</option>
<OPTION VALUE="Eastlink Atlantic (AS 11260)" > Eastlink Atlantic (AS 11260)</option>
<OPTION VALUE="Eastlink Eastern (AS 23184)"> Eastlink Eastern (AS 23184)</option>
<OPTION VALUE="Eastlink Pacific (AS 22799)"> Eastlink Pacific (AS 22799)</option>
<OPTION VALUE="Allstream (AS 15290)"> Allstream (AS 15290)</option>
<OPTION VALUE="AT&amp;T (AS 7018)"> AT&amp;T (AS 7018)</option>
<OPTION VALUE="Belwue (AS 553)"> Belwue (AS 553)</option>
<OPTION VALUE="Comcast (AS 7922)"> Comcast (AS 7922)</option>
<OPTION VALUE="Eunet (AS 6667)"> Eunet (AS 6667)</option>
<OPTION VALUE="Exodus Communications (AS 3967)"> Exodus Communications (AS 3967)</option>
<OPTION VALUE="Global Crossing (AS 3549)"> Global Crossing (AS 3549)</option>
<OPTION VALUE="Global Crossing Europe (AS 3549)"> Global Crossing Europe (AS 3549)</option>
<OPTION VALUE="Group Telecom - east (AS 6539)"> Group Telecom - east (AS 6539)</option>
<OPTION VALUE="Host.net (AS 13645)"> Host.net (AS 13645)</option>
<OPTION VALUE="Hurricane Electric (AS 6939)"> Hurricane Electric (AS 6939)</option>
<OPTION VALUE="nLayer (AS 4436)"> nLayer (AS 4436)</option>
<OPTION VALUE="Nodus Network"> Nodus Network</option>
<OPTION VALUE="Opentransit (AS 5511)"> Opentransit (AS 5511)</option>
<OPTION VALUE="Optus (AS 7474)"> Optus (AS 7474)</option>
<OPTION VALUE="Oregon Exchange (AS 6447)"> Oregon Exchange (AS 6447)</option>
<OPTION VALUE="Rogers (AS 812)"> Rogers (AS 812)</option>
<OPTION VALUE="SAIX (AS 5713)"> SAIX (AS 5713)</option>
<OPTION VALUE="Savvis (AS 3561)"> Savvis (AS 3561)</option>
<OPTION VALUE="Sunrise (AS 6730)"> Sunrise (AS 6730)</option>
<OPTION VALUE="Swisscom IP+ (AS 3303)"> Swisscom IP+ (AS 3303)</option>
<OPTION VALUE="Switch (AS 23005)"> Switch (AS 23005)</option>
<OPTION VALUE="TDC (AS 3292)"> TDC (AS 3292)</option>
<OPTION VALUE="Time Warner (AS 4323)"> Time Warner (AS 4323)</option>
<OPTION VALUE="TiNET (AS 3257)"> TiNET (AS 3257)</option>
<OPTION VALUE="TELUS East (AS 852)"> TELUS East (AS 852)</option>
<OPTION VALUE="TELUS West (AS 852)"> TELUS West (AS 852)</option>
<OPTION VALUE="University of Washington (AS 6447)"> University of Washington (AS 6447)</option>
<OPTION VALUE="Videotron (AS 5769)"> Videotron (AS 5769)</option>


<OPTION VALUE="r20-Tln-TIX"> Data Telecom (AS 3327) *</option>
<OPTION VALUE="ML Online (AS 5546)"> ML Online (AS 5546) *</option>
<OPTION VALUE="kj-gw"> EsData (AS 2380) *</option>

<OPTION VALUE="rtr1"> AMSIX *</option>
<OPTION VALUE="INXS"> INXS peering LAN Munich *</option>
<OPTION VALUE="LINX (UK)"> LINX (UK) *</option>
<OPTION VALUE="LINX (Transit)"> LINX (Transit) *</option>
<OPTION VALUE="LINX (Multicast)"> LINX (Multicast) *</option>
<OPTION VALUE="zebra"> BLNX *</option>



<OPTION VALUE="Amsterdam (NL), AMS-IX"> Amsterdam (NL), AMS-IX *</option>


<OPTION VALUE="Amsterdam (NL), AMS-IX"> Amsterdam (NL), AMS-IX *</option>
<OPTION VALUE="Copenhagen/Lyngby (DK), DIX #1"> Copenhagen/Lyngby (DK), DIX #1 *</option>
<OPTION VALUE="Copenhagen/Virum (DK), DIX #2"> Copenhagen/Virum (DK), DIX #2 *</option>
<OPTION VALUE="Frankfurt (DE), DE-CIX"> Frankfurt (DE), DE-CIX *</option>
<OPTION VALUE="London (UK), LINX #1"> London (UK), LINX #1 *</option>
<OPTION VALUE="London (UK), LINX #2"> London (UK), LINX #2 *</option>
<OPTION VALUE="New York 1 (US)"> New York 1 (US) *</option>
<OPTION VALUE="New York 2 (US)"> New York 2 (US) *</option>
<OPTION VALUE="New York 3 (US)"> New York 3 (US) *</option>
<OPTION VALUE="Oslo (NO), NIX1"> Oslo (NO), NIX1 *</option>
<OPTION VALUE="Oslo (NO), NIX2"> Oslo (NO), NIX2 *</option>
<OPTION VALUE="Stockholm (SE), Netnod"> Stockholm (SE), Netnod *</option>

<OPTION VALUE="Amsterdam"> Amsterdam *</option>
<OPTION VALUE="Antwerp"> Antwerp *</option>
<OPTION VALUE="Berlin"> Berlin *</option>
<OPTION VALUE="Brussels"> Brussels *</option>
<OPTION VALUE="Dublin"> Dublin *</option>
<OPTION VALUE="Frankfurt"> Frankfurt *</option>
<OPTION VALUE="Leiden"> Leiden *</option>
<OPTION VALUE="London"> London *</option>
<OPTION VALUE="Munich"> Munich *</option>
<OPTION VALUE="Rotterdam"> Rotterdam *</option>

<OPTION VALUE="D-GIX (DPT)"> D-GIX (DPT) *</option>
<OPTION VALUE="D-GIX (FDDI)"> D-GIX (FDDI) *</option>


<OPTION VALUE="Level3 (AS 3356)"> Level3 (AS 3356) *</option>
<OPTION VALUE="Davidov Electric (AS 12814)"> Davidov Electric (AS 12814) *</option>
<OPTION VALUE="Tata Communications (AS6453)"> Tata Communications (AS6453) *</option>
<OPTION VALUE="Bell Canada (AS577)"> Bell Canada (AS577) *</option>


<OPTION VALUE="Data Telecom IPv6"> Data Telecom IPv6 *</option>
<OPTION VALUE="6TAP"> 6TAP *</option>
<OPTION VALUE="LavaNet"> LavaNet *</option>
<OPTION VALUE="r1-gw.ipv6.itk.pl"> iTk *</option>
<OPTION VALUE="EdisonTel IPv6"> EdisonTel IPv6 *</option>



</SELECT>


<!--
    This option is using global crossing 
-->

<br>
 <br>
<select name="source2" size=1>
<option value="">Options for the server global crossing</option>
<option value="Asia" disabled="disabled">Asia</option>
<option value="119637" >Chai Wan, CHINA - CLK1</option>
<option value="145522" >Chuo-ku, Tokyo, JAPAN - TYO1</option>
<option value="145366" >Singapore, SINGAPORE - QPG1</option>
<option value="Europe" disabled="disabled">Europe</option>
<option value="146702" >Ultimo, AUSTRALIA - RSE1</option>
<option value="149996" > Hamburg, GERMANY - HAM1</option>
<option value="119611" >Amsterdam, NETHERLANDS - AMS2</option>
<option value="118042" >Antwerp, BELGIUM - NDL1.ANT</option>
<option value="149904" >Basingstoke, Hampshire, UNITED KINGDOM - BBS1</option>
<option value="150196" >Berlin, GERMANY - KIT1.BER</option>
<option value="147205" >Dublin, IRELAND - DUB1</option>
<option value="137782" >Frankfurt, GERMANY - FRA4</option>
<option value="149982" >Glostrup, DENMARK - CPH1</option>
<option value="154931" >Helsinki, FINLAND - HEL1</option>
<option value="149302" >Leeds, UNITED KINGDOM - LBA1</option>
<option value="149262" >Leigh, UNITED KINGDOM - MAN1</option>
<option value="152202" >London, UNITED KINGDOM - LON2</option>
<option value="131962" >London, UNITED KINGDOM - LON3</option>
<option value="154771" >Luxembourg, LUXEMBOURG - BCE1.LUX</option>
<option value="137731" >Madrid, SPAIN - MAD1</option>
<option value="186781" >Milano, ITALY - LIN1</option>
<option value="149362" >Munich, GERMANY - MUN1</option>
<option value="149276" >Nottingham, UNITED KINGDOM - NQT1</option>
<option value="104830" >Oslo, NORWAY - OSL2</option>
<option value="152142" >Paris, FRANCE - CDG3</option>
<option value="154731" >Rotterdam, NETHERLANDS - VDG1.RTM</option>
<option value="154360" >Slough, UNITED KINGDOM - LHR1</option>
<option value="153980" >Solihull, UNITED KINGDOM - BHX1</option>
<option value="145146" >Stockholm, SWEDEN - ARN3</option>
<option value="150227" >Stuttgart, GERMANY - VDL1.STR</option>
<option value="Latin America" disabled="disabled">Latin America</option>
<option value="154487" >Vienna, AUSTRIA - VIE1</option>
<option value="407018" >Bogota, COLUMBIA - CXV1.BOG</option>
<option value="153102" >Buenos Aires, ARGENTINA - EZE1</option>
<option value="153584" >Panama City, PANAMA - PTY1</option>
<option value="407165" >Quito, ECUADOR - TUI1.UIO</option>
<option value="153622" >Santiago, CHILE - SCL1</option>
<option value="154024" >Sao Cristavao, Rio de Janeiro, BRAZIL - GIG1</option>
<option value="US" disabled="disabled">US</option>
<option value="153562" >Sao Paulo, BRAZIL - GRU1</option>
<option value="144523" >Anaheim, UNITED STATES - SNA1</option>
<option value="153887" >Ashburn, UNITED STATES - DCA3</option>
<option value="119621" >Atlanta, UNITED STATES - ATL1</option>
<option value="154394" >Baltimore, UNITED STATES - BWI1.BWI</option>
<option value="145705" >Boston, UNITED STATES - BOS1</option>
<option value="118462" >Chicago, UNITED STATES - CHI1</option>
<option value="137902" >Cleveland, UNITED STATES - CLE1</option>
<option value="118468" >Dallas, UNITED STATES - DAL1</option>
<option value="137719" >Denver, UNITED STATES - DEN2</option>
<option value="146667" >Houston, UNITED STATES - HOU1</option>
<option value="137725" >Indianapolis, UNITED STATES - IND1</option>
<option value="145422" >Kansas City, UNITED STATES - KCY1</option>
<option value="118724" >Los Angeles, UNITED STATES - LAX1</option>
<option value="131943" >Miami, UNITED STATES - MIA1</option>
<option value="104714" >Miami, UNITED STATES - MIA2</option>
<option value="151255" >Milwaukee, UNITED STATES - MKE1.MKE</option>
<option value="144422" >Minneapolis, UNITED STATES - MIN1</option>
<option value="119403" >New York, UNITED STATES - JFK1</option>
<option value="154059" >Palo Alto, UNITED STATES - PAO2</option>
<option value="119643" >Philadelphia, UNITED STATES - PHI1</option>
<option value="119409" >Phoenix, UNITED STATES - PHX1</option>
<option value="163364" >Pittsburgh, UNITED STATES - PIT2.PIT</option>
<option value="150042" >Rochester, UNITED STATES - ROC1</option>
<option value="137803" >Sacramento, UNITED STATES - SAC1</option>
<option value="149962" >Saint Louis, UNITED STATES - STL1.STL</option>
<option value="149316" >San Diego, UNITED STATES - SAN1</option>
<option value="154077" >San Jose, UNITED STATES - SJC2</option>
<option value="192297" >Seattle, UNITED STATES - SEA1</option>
<option value="147487" >Southfield, UNITED STATES - DET1</option>
<option value="119649" >Sunnyvale, UNITED STATES - SNV2</option>
<option value="146167" >Tampa, UNITED STATES - TPA1</option>
<option value="144482" >Toronto, CANADA - YYZ1</option>
<option value="135272" >Washington, UNITED STATES - WDC2</option>
</select></td><br>


        ip:     <input type="text" placeholder="Destiny IP" name="ip"/><br>
        origin: <input type="" placeholder="Change the origin instead of the servers" name="origin"/><br> 
        <input type="submit"><br>
        
    </form>
    </center>
    {%if response%}
        <pre>
        {{response|safe}}
        </pre>
        <form action="/response/" method="post">
            Show graph: <input type="text" name="namefile" value="{{namefile}}">
            <input type="submit"><br>
        </form>
        <a href="/{{namefile}}"> Download data file  for general information RAW TEXT</a>
    {%else%}
        Some Recommendations        <ul>
            <li>ip github: 192.30.253.113</li>
            <li>ip google: 216.58.222.206</li>
            <li>ip facebook: 69.171.230.68</li>
            <li>ip debian: 130.89.148.14</li>
        </ul>
        
    {%endif%}
</body>
</html>
