<!DOCTYPE html>

<!-- 
Link for the graph
https://bl.ocks.org/cjrd/6863459
-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Multi-Looking Glass Server lol</title>

    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/scrolling-nav.css')}}" rel="stylesheet">

 
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Multi-Looking Glass Serve lol</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top">Send Request</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Information Route and Recommendations</a>
                    </li>
                    {%if response%}

                    <li>
                        <a class="page-scroll" href="#contact">Download, and upload new maps</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!----------- xxxx -->
    <center>
    <form action="/traceroute/" method="post">

    <select name="source" class="form-control" size=1>
        <option value="" >Please, Choose an origin</option>
        {%if servers%}
            {%for server in servers["server1"] %}
                <option value="{{server[0]}}" >{{server[1]}}</option>
            {%endfor%}
        {%endif%}
    </SELECT>

    <select name="source2" class="form-control" size=1>
        <option value="" >Please, Choose an origin</option>
        {%if servers%}
            {%for server in servers["server2"] %}
                <option value="{{server[0]}}" >{{server[1]}}</option>
            {%endfor%}
        {%endif%}
    </select></td>

    ip:<input type="text" class="form-control" placeholder="Destiny IP" name="ip"/><br>
    origin: <input type="text" class="form-control"  placeholder="Change the origin instead of the servers" name="origin"/><br> 
    <input type="submit"><br>
        
    </form>
    </center>
    
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

{%if response%}
                <h1>Route Information</h1>
        <pre>
        {{response|safe}}
        </pre>

    {%else%}
        Some Recommendations        
        <table style="width:100%">
            <tr>
                <th> DNS </th>
                <th> IP </th>
            </tr>
            <tr>
                <th> Github.com </th>
                <th> 192.30.253.113 </th>
            </tr>
            <tr>
                <th> Google.com </th>
                <th> 216.58.222.206 </th>
            </tr>
            <tr>
                <th> Facebook.com </th>
                <th> 69.171.230.68 </th>
            </tr>
            <tr>
                <th> Debian.org </th>
                <th> 130.89.148.14 </th>
            </tr>

        </table>
        
    {%endif%}                    

                </div>
            </div>
        </div>
    </section>



    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {%if response%}
                    <h1>Download and preview</h1>
                    <form action="/response/" method="post">
                        Show graph: <input type="text" name="namefile" value="{{namefile}}">
                        <input type="submit"><br>
                    </form>
                    <a href="/{{namefile}}"> Download data file  for general information RAW TEXT</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/scrolling-nav.js')}}"></script>

</body>

</html>

